@model IEnumerable<MVCKontorExpert.Models.ParentCategory>

<ul class="navbar">
    <li class="dropdown">
        <a href="#">Nye og secondhand møbler</a>
        <ul class="dropdown-content">
            @foreach (var parentCategory in Model)
            {
                <li>
                    <strong>@parentCategory.ParentCategoryName</strong>
                    <ul>
                        @foreach (var category in parentCategory.Categories)
                        {
                            <li>
                                <a href="@Url.Action("Index", "Product", new { categoryID = category.CategoryID })">@category.CategoryName</a>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </li>
    <li><a href="#">Designmøbler</a></li>
    <li><a href="#">Populære produkter</a></li>
    <li><a href="#">Tilbud og kampagnevarer</a></li>
    <li><a href="#">Restpartier</a></li>
    <li><a href="#">Nyheder</a></li>
</ul>


                                <style>
    .navbar {
        list-style-type: none;
        padding: 0;
    }

        .navbar li {
            display: inline-block; /* Changed from 'inline' to 'inline-block' for better structure */
            margin-right: 15px;
            position: relative;
        }

        .navbar a {
            text-decoration: none;
            color: #000;
        }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        list-style-type: none;
        padding: 10px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content li {
        padding: 8px 12px;
    }

    .dropdown-content ul {
        padding-left: 0; /* Adjusted to remove extra padding for nested ul */
    }

    .dropdown-content strong {
        font-weight: bold; /* Added for clarity, to ensure strong elements are bold */
    }

                                </style>