<footer class="footer-custom">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>MVCKontorExpert provides top-quality office supplies and solutions.</p>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li>Email: contact@kontorexpert.com</li>
                    <li>Phone: +1 234 567 890</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="https://facebook.com/kontorexpert" target="_blank">Facebook</a></li>
                    <li><a href="https://twitter.com/kontorexpert" target="_blank">Twitter</a></li>
                    <li><a href="https://linkedin.com/company/kontorexpert" target="_blank">LinkedIn</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-3">
            &copy; 2024 - MVCKontorExpert - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </div>
</footer>
