@model MVCKontorExpert.Models.ProductsViewModel

@{
    ViewData["Title"] = "Home";
}


<div class="row">
    @foreach (var product in Model.Products)
    {
        @Html.Partial("_ProductCard", product)
    }
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        function addToCart(productId) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddToCart", "Cart")", // Juster URL'en til din AddToCart action
                data: { productId: productId },
                success: function (response) {
                    alert("Product added to cart!");
                },
                error: function (error) {
                    alert("Error adding product to cart!");
                }
            });
        }
    </script>
}
