html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*FOR _InfoPartial*/

.info-banner {
    background-color: #007bff; /* Blue background */
    color: #fff; /* White text */
    padding: 10px 0; /* Adjust padding as needed */
}

    .info-banner p {
        margin-bottom: 0; /* Remove bottom margin from paragraphs */
    }

    .info-banner strong {
        color: #fff; /* White color for strong text */
    }


    /*FOR _FooterPartial*/

.footer-custom {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
}

    .footer-custom a {
        color: white;
        text-decoration: underline;
    }

        .footer-custom a:hover {
            color: lightgray;
        }